.container {
  margin: 0 auto;
  width: 100%;

  @include phone() {
    max-width: 90vw;
  }
  @include phone-up() {
    max-width: $phone - (20px * 2);
  }
  @include tablet-up() {
    max-width: $tablet - (30px * 2);
  }
  @include desktop-up() {
    max-width: $desktop;
  }
}

button:disabled,
button[disabled]{
  background-color: rgba(239, 239, 239, 0.4);
  color: rgba(16, 16, 16, 0.4);
  border: rgba(118, 118, 118, 0.2) 1px solid;
  cursor: default;
}