@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font: 'Quicksand', sans-serif;

$primary: #333399;
$secondary: #33CC99;
$secondary-10: rgba($secondary, 0.10);
$white: #ffffff;
$error: #CC0000;

$radius-small: 0.4rem;
$radius-medium: 3.2rem;

$menu-height: 13rem;