h1, h2, .p_result {
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
.invisible {
    display: none;
}

.visible {
    display: block
}

.ref {
    font-style: italic;
    font-size: 0.8rem;
}

.title_ref {
    text-decoration: underline;
}

.text_agreement {
    font-size: 1.2rem;
}

 #agreement,
 #calc_tox, 
 .container_half_life {
     margin: 3rem;
 }

 .p_result {
      font-weight: bold;
      font-size: 1.7rem;
  }

  #container_result {
    margin: auto;
    width: 50%;
}

.result_ok {
    color : green;
}

.result_not_ok {
    color: red;
}