.nomogram {
  background-color: $secondary-10;
  padding: 4rem 5rem;
  border-radius: 1rem;
  margin: 4rem 0;
  @include phone {
    padding: 4rem 2.5rem;
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
  }

  #agreement {
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
  }

  &__risk {
    margin-bottom: 1.5rem;
    line-height: 2.5rem;
  }


  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    position: relative;
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    @include tablet {
      flex-direction: column;
    }

    input {
      width: 50rem;
      font-family: $font;
      font-size: 1.5rem;
      margin-left: 3rem;
      padding: 1rem;
      border: none;
      border-radius: .5rem;
      @include desktop {
        width: 30rem;
      }
      @include tablet {
        margin-left: 0;
        width: auto;
        margin-bottom: 1rem;
      }
    }
  }

  &__btn-add {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: $primary;
    color: $white;
    font-family: $font;
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
  }

  &__result {
    margin-top: 2rem;
    text-align: center;
  }
}

.nomogram-result, .nomogram-alert {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  & > p {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
  }
}